.container {
    background-color: #2D3047;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
    height: 6em;
    transition: .4s all ease-in-out;
}

.spacingNote {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 2em;
    margin-right: 2em;
    align-items: center;
}

.spacingIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3em
}

.container:hover {
    opacity: .9;
    transition: 200ms all ease-in;
}

.deleteNote, .editNote {
    font-size: 1.6em;
}

.doneNoteIn {
    background-color: #FF9F1C;
    color: #FF9F1C;
    height: 6em;
    animation: slide-in .5s;
    transform-origin: left;
}

.doneNoteOut {
    background-color: #FF9F1C;
    color: #FF9F1C;
    height: 6em;
    animation: slide-out .5s;
    transform-origin: left; 
}

@keyframes slide-in {
    from {
        transform: scaleX(0);
    } to {
        transform: scaleX(100%);
    }
}

@keyframes slide-out {
    from {
        transform: scaleX(100%);
    } to {
        transform: scaleX(0);
    }
}